{{ 'add-to-card.css' | asset_url | stylesheet_tag }}


<div class="add-to-card">
  <button onclick="myFunction()">Add to cart</button>
</div>

<script>
  function myFunction() {
  alert("Hello! I am an alert box!");
}
</script>